<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.SQLite" version="5.11.1328" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net461" />
</packages>